body{
  margin:0;
  padding:0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size:12px;
  color:#444;
}


main{
  display: flex;
  background-color: #AAA;
}

.container{
  width:960px;
  margin:0 auto;
}

#logo{
  width: 150px;
}

nav{
  display: flex;
}

.menu{
  background:#000;
  padding: 10px;
}

ul{
  list-style:none;
  justify-content: space-around;
  margin:0;
  padding-right: 50px;
}

a{
  color:white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

li{
  padding: 20px 50px 0px 40px;
  font-size:15px;
  display: inline-block;
  flex-direction: row;
  background: black;
}


.playButton{
  color: #fff;
  font-size: 30px;
  display: inline-block;
  padding: 400px 0px 100px 0px;
  margin: 0 auto;
}

.play{
  background: #000;
  text-align: center;
  padding: 10px;
}

#rules, #story{
  width: 350px;
  padding: 65px;
}

.text{
  display: flex;
  flex-wrap: wrap;
  background: #714725;
}

h2{
  color: white;
}

p.story, p.rules{
  color: #FFF;
}
